@import "../shared/settings.core";

.link {
  display: flex;
  flex-direction: column;

  background: white;
  color: get-color("salem");

  text-decoration: none;
  font-family: get-font("lobster");
  text-align: center;

  padding: 10px;
  margin: 10px;

  border-radius: 3px;

  &:focus {
    outline-width: 3px;
    outline-color: orange;
    outline-style: ridge;
  }
}

.thumb {
  max-width: 180px;
  box-shadow: 0 0 15px 1px black;
  margin: 10px 0 10px 0;
}
